[submodule "vendor/PyOpenMagnetics"]
	path = vendor/PyOpenMagnetics
	url = git@github.com:OpenMagnetics/PyMKF.git
	branch = main
[submodule "MAS"]
	path = MAS
	url = git@github.com:OpenMagnetics/MAS.git
	branch = main
[submodule "PEAS"]
	path = PEAS
	url = git@github.com:Power-Supply-Manufacturers-Association/PEAS.git
	branch = main
[submodule "SAS"]
	path = SAS
	url = git@github.com:Power-Supply-Manufacturers-Association/SAS.git
	branch = main
[submodule "CAS"]
	path = CAS
	url = git@github.com:Power-Supply-Manufacturers-Association/CAS.git
	branch = main
[submodule "RAS"]
	path = RAS
	url = git@github.com:Power-Supply-Manufacturers-Association/RAS.git
	branch = main
[submodule "TAS"]
	path = TAS
	url = git@github.com:Power-Supply-Manufacturers-Association/TAS.git
	branch = main
[submodule "CIAS"]
	path = CIAS
	url = git@github.com:Power-Supply-Manufacturers-Association/CIAS.git
	branch = feat/peas-family-consolidation
[submodule "CONAS"]
	path = CONAS
	url = git@github.com:Power-Supply-Manufacturers-Association/CONAS.git
	branch = main
[submodule "CTAS"]
	path = CTAS
	url = git@github.com:Power-Supply-Manufacturers-Association/CTAS.git
[submodule "AAS"]
	path = AAS
	url = git@github.com:Power-Supply-Manufacturers-Association/AAS.git
[submodule "TDAS"]
	path = TDAS
	url = https://github.com/Power-Supply-Manufacturers-Association/TDAS.git
	branch = main
